<div class="container p-3" style="background-color:rgba(77,77,77,0.3);">
 <h2>お問い合わせ</h2>
  <div class="p-2">
    <%= render 'layouts/errors', obj: @contact %>
    <%= form_for(@contact, url: confirm_path) do |f| %>
  
    <div class="form-group">
      <%= f.label :name, 'お名前*' %>
      <%= f.text_field :name, autofocus: true, placeholder: "お名前（ニックネームでも可）", class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :phone_number, '電話番号*' %>
      <%= f.text_field :phone_number, autofocus: true, placeholder: "電話番号", class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :email, 'メールアドレス*' %>
      <%= f.text_field :email, autofocus: true, placeholder: "メールアドレス", class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :subject, '件名*' %>
      <%= f.text_field :subject, placeholder: "お問い合わせの件名", class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= f.label :message, '内容*' %>
      <%= f.text_area :message, size: '10x10', placeholder: "お問い合わせの内容", class: 'form-control' %>
    </div>
  
    <div>
      <%= f.submit '入力内容確認', "data-turbolinks": false, class: "btn btn-block btn-secondary" %>
    </div>
    
    <% end %>
  </div>
</div>