<div class='col-md-9 mt-3'>
  <div class="container">
    <div class="row">
  
      <% if posts.count == 0 %>
        <div class="col-md-12">
          <h3>投稿はありません。</h3>
        </div>
      <% end %>
    </div>
  
      <% unless posts.count == 0 %>
      <h4 class="mt-3"><%= user.name %>さんの投稿一覧</h4>
      <div class="row">
      <% posts.each do |post| %>
        <div class="col-md-3">
          <div class="l-wrapper_01 mt-3">
            <article class="card_01 pb-3">
              <div class="card__header_01">
                <figure class="card__thumbnail_01">
                  <% if post.post_image.attached? %>
                    <%= image_tag(post.post_image.first, class: "card__image_01") %>
                  <% end %> 
                  <% unless post.post_image.attached? %>
                    <%= image_tag "no_image.jpg", class: "card__image_01" %>
                  <% end %>
                </figure>
              </div>
              <div class="card__body_01">
                <p class="card__title_01"><%= post.name.truncate(15) %></p>
                <p class="card__text2_01 center"><%= post.get_category_name.truncate(15) %></p>
                <p class="card__text2_01 center"><%= post.place.truncate(15) %></p>
                <p class="card__text2_01 center">
                <% if post.tags.count == 0 %>
                  タグなし
                <% else %>
                  <% post.tags.each do |tag| %>
                    <%= tag.tag_name %><%="(#{tag.posts.where(is_active: false, draft_status: false).count})" %><br>
                    <% end %>
                 <% end %>
                </p>
                <p class="card__text2_01 center"><%= post.explanation.truncate(15) %></p>
                <p class="card__text2_01">投稿者: <%= link_to post.user.name.truncate(15), user_path(post.user.id) %></p>
                <p class="card__text2_01">コメント数:<%= post.comments.count %></p>
                <p class="card__text2_01"><%= post.created_at.strftime('%Y/%m/%d') %></p>
              </div>
              <div class="card-footer_01">
                <p class="card__text_01">
                  <%= link_to "詳細", post_path(post), 'data-turbolinks': false, class: "btn btn-secondary button_01 -compact" %>
                  <div class="bookmark_btn_<%= post.id %> card__text_01">
                    <%= render "public/bookmarks/bookmark-btn", post: post %>
                  </div>
                </p>
              </div>
            </article>
          </div>
        </div>
      <% end %>
      </div>
      <div class="row">
        <%= paginate posts %>
      </div>
  <% end %>
</div>