<div class='col-md-9 mt-3'>
  <div class="container">
    <div class="row">
      <% if @user.id == current_user.id %>
      <div class="col-md-3">
        <%= link_to "ブックマーク一覧",bookmarks_path, class: "btn btn-outline-secondary" %>
      </div>
      <div class="col-md-3">
        <%= link_to "下書き一覧",draft_path, class: "btn btn-outline-secondary" %>
      </div>
      <% end %>
  
      <% unless @user.id == current_user.id %>
        <div class="col-md-3">
          <%= link_to "フォローする",root_path, class: "btn btn-outline-secondary"%>
        </div>
      <% end %>
  
      <% if posts.count == 0 %>
        <div class="col-md-12">
          <h3>投稿はありません。</h3>
        </div>
      <% end %>
    </div>
  
      <% unless posts.count == 0 %>
      <h4 class="mt-3">投稿一覧</h4>
      <div class="row">
      <% @posts.each do |post| %>
        <% if post.is_active == false %>
        <% if post.draft_status == false %>
        <div class="col-md-3">
          <div class="l-wrapper_01 mt-3">
            <article class="card_01 pb-3">
                        <div class="card__header_01">
                        <figure class="card__thumbnail_01">
                            <% if post.post_image.attached? %>
                                <%= image_tag(post.post_image.first, class: "card__image_01") %>
                            <% end %> 
                            <% unless post.post_image.attached? %>
                                <%= image_tag "no_image.jpg", class: "card__image_01" %>
                            <% end %>
                        </figure>
                        </div>
                        <div class="card__body_01">
                             <p class="card__title_01"><%= post.name.truncate(15) %></p>
                            <p class="card__text2_01"><%= post.get_category_name.truncate(15) %></p>
                            <p class="card__text2_01"><%= post.place.truncate(15) %></p>
                            <p class="card__text2_01">投稿者: <%= link_to post.user.name.truncate(15), user_path(post.user.id) %></p>
                            <p class="card__text2_01"><%= post.created_at.strftime('%Y/%m/%d') %></p>
                        </div>
                        <div class="card-footer_01">
                            <p class="card__text_01">
                            <%= link_to "詳細", post_path(post), 'data-turbolinks': false, class: "btn btn-secondary button_01 -compact" %>
                            <div class="bookmark_btn_<%= post.id %> card__text_01">
                                <%= render "public/bookmarks/bookmark-btn", post: post %>
                            </div>
                            </p>
                        </div>
            </article>
          </div>
        </div>
            <% end %>
            <% end %>
            <% end %>
      </div>
  <% end %>
</div>