<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <%= render "layouts/search", { search: @search } %>
            <div class="row mt-3">

                    <%= link_to "新規投稿", new_post_path, class: "btn btn-success col-2 offset-7" %>
                    <%= link_to "下書き", draft_path(current_user), class: "btn btn-success col-2 ml-3" %>
                </div>
            </div>
            <table class='table table-hover table-inverse mt-3'>
              <thead>
                <tr>
                  <th>タイトル</th>
                  <th>住所・施設名</th>
                  <th>タグ</th>
                  <th>所在地</th>
                  <th>ユーザー名</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @posts.each do |post| %>
                  <tr>
                    <td><%= link_to post.name, post_path(post) %></td>
                    <td><%= post.place %></td>
                    <td>
                      <%= post.post_tag_id %>
                    </td>
                    <td><%= post.categories.name %></td>
                    <td><%= post.user.name %></td>
                    <td>★</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            
            
        </div>
    </div>
</div>

