<div class="container p-3" style="background-color:rgba(77,77,77,0.3);">
 <h2>新規投稿</h2>
  <div class="row p-2">
        <div class="col-md-8">
          <%= form_with model: @post, url:posts_path,  local: true do |form| %>
            <div class="form-group row">
              <%= form.text_field :name, placeholder: "タイトル", class: 'col-md-7 mr-4' %>
              <%= form.collection_select :category_id, Category.all, :id, :name, include_blank: "所在地を選択してください。", class: 'col-md-4' %>
            </div>
            <div class="form-group row">
              <%= form.text_field :place, placeholder: "場所名", class: 'col-12' %>
            </div>
            <div class="form-group row">
              <%= form.text_area :explanation, placeholder: "本文", class: 'col-12', rows: 15 %>
            </div>
            <div class="form-group row">
              <%= form.text_field :tag.name, placeholder: "タグ", class: 'col-10' %>
            </div>
            <div class="form-group row">
              <%= form.file_field :post_image, class: 'col-10', accept: "image/*" %>
            </div>
        </div>
        <div class="col-md-4">
            <div style="background-color:rgba(255,255,254,0.5);">
                <h3>利用規則</h3>
                <p>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                </p>
            </div>
            <div class="form-group row ml-5">
              <%= form.submit :投稿する, :name => "post", class: 'btn btn-success mr-4' %>
              <%= form.submit :下書き, :name => "draft", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
