<div class="container p-3" style="background-color:rgba(77,77,77,0.3);">
 <h2>新規投稿</h2>
  <div class="row p-2">
        <div class="col-md-8">
          <%= form_with model: @post, url:posts_path,  local: true do |form| %>
            <div class="form-group row">
              <%= form.text_field :name, placeholder: "タイトル", class: 'col-md-7 mr-4' %>
              <%= form.collection_select :category_id, Category.all, :id, :name, include_blank: "所在地を選択してください。", class: 'col-md-4' %>
            </div>
            <div class="form-group row">
              <%= form.text_field :place, placeholder: "場所名", class: 'col-12' %>
            </div>
            <div class="form-group row">
              <%= form.text_area :explanation, placeholder: "本文", class: 'col-12', rows: 15 %>
            </div>
            <div class="form-group row">
              <%= form.text_field :tag_name, value: @tag_list, placeholder: "タグ", class: 'col-10' %>
            </div>
            <div class="form-group row">
              <%= form.file_field :post_image, multiple: true, class: 'col-10', accept: "image/*" %>
            </div>
        </div>
        <div class="col-md-4">
            <div style="background-color:rgba(255,255,254,0.5);">
                <h3>利用規則</h3>
                <p>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                    texttexttexttexttexttexttexttext<br>
                </p>
            </div>
            <div class="form-group row">
              <div class="col-5" style="padding-right:20px;">
              <%= form.radio_button :draft_status, false, checked: true %>
              <%= form.label :draft_status, "公開", {value: :false, style: "display: inline-block;"} %>
              </div>
              <div class="col-6" style="padding-right:20px;">
              <%= form.radio_button :draft_status, :true %>
              <%= form.label :draft_status, "下書き保存", {value: :true, style: "display: inline-block;"} %>
              </div>  
            </div>
            <div class="form-group row">
              <%= form.submit :投稿する, class: 'btn btn-success mr-4' %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
