<div class="container p-3">
  <div class="row">
    <div class="col-lg-6 col-md-10 mt-1 mx-auto">
      
      <div class="p-2" style="background-color: #444;">
        <h5 class="text-light" style="">管理者ログイン</h3>
      </div>
      
      <div class="p-2" style="background-color: #FFF;">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        
      <div class="field">
        <%= f.label "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", autocorrect: "off", autocapitalize: "off", size: " 40 x 30 " %>
      </div>

      <div class="field">
        <%= f.label "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", autocorrect: "off", autocapitalize: "off", size: " 40 x 30 " %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label "パスワードを保存する", class: "mt-2" %>
      </div>
      
      <% end %>
      
      
      <div class="actions">
        <%= f.submit "ログインする", class: 'btn btn-block btn-success p-2' %>
      </div>
      <% end %>
      
      </div>
  
    </div>
  </div>
</div>


