<h2>posts search for "<%= @word %>"</h2>

<% if @posts.empty? %>
  <h4>検索結果はありません。</h4>
<% else %>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <table class='table table-hover table-inverse mt-3'>
              <thead>
                <tr>
                  <th>タイトル</th>
                  <th>住所・施設名</th>
                  <th>タグ</th>
                  <th>所在地</th>
                  <th>ユーザー名</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @posts.each do |post| %>
                 <% if post.is_active == false %>
                 <% if post.draft_status == false %>
                  <tr>
                    <td><%= link_to post.name, post_path(post) %></td>
                    <td><%= link_to post.place, post_path(post) %></td>
                    <td>
                      <%="(#{post.tags.count})" %>
                    </td>
                    <td><%= link_to post.get_category_name, post_path(post) %></td>
                    <td><%= link_to post.user.name, user_path(post.user.id) %></td>
                    <td><%= link_to "詳細", post_path(post), class: "btn btn-success" %></td>
                    <td><div class="bookmark_btn_<%= post.id %> col-md-3">
                     <%= render "public/bookmarks/bookmark-btn", post: post %></div>
                    </td>
                  </tr>
                 <% end %>
                 <% end %>  
                <% end %>
              </tbody>
            </table>
        </div>
    </div>
</div>

<% end %>
  
  