<div class="container px-5 px-sm-0 pt-3">
    <%= render "layouts/search", { search: search } %> 
  
  <div class="row">
    <p class="pt-4">ユーザー検索 for "<%= word %>"</p>
  </div>


    <% if users.empty? %>
      <div class="row">
        <h4 class="col-md-12">検索結果はありません。</h4>
      </div>
</div>
    <% else %>
  
</div>

<div class='container px-5 px-sm-0'>
  <div class='row'>
     <% users.each do |user| %>
      <div class="l-wrapper_01 mt-3 col-md-3">
        <article class="card_01 pb-3">
          <div class="card__header_01">
            <figure class="card__thumbnail_01">
              <% if user.user_image.attached? %>
                <%= (image_tag user.get_user_image, class: "card__image_01") %>
              <% end %> 
              <% unless user.user_image.attached? %>
                <%= image_tag "no_image.jpg", class: "card__image_01" %>
              <% end %>
            </figure>
          </div>
          <div class="card__body_01">
           <p class="card__title_01"><%= user.name %></p>
          </div>
          <div class="card-footer_01">
            <p class="card__text_01">
              <%= link_to "詳細", user, 'data-turbolinks': false, class: "btn btn-secondary button_01 -compact" %>
            </p>
          </div>
        </article>
      </div>    
    <% end %>
  </div>
  <div class='row'>
    <%= paginate users %>
  </div>
</div>
<% end %>