<div class="container p-2" style="background-color:rgba(77,77,77,0.3);">
 <div class="row p-2">
     <% if @chat.user == current_user %>
       <%= link_to '削除', chat_path(@chat), 'data-turbolinks': false, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger col-md-1 ml-3"%>
     <% end %>
 </div>
     <div class="row p-4">
        <div class="col-md-6">
         <table class="table table-bordered">
          <tbody>
            <tr>
             <td class="text-white" style="background-color:rgba(130,0,0,0.8);">タイトル</td>
             <td style="background-color:rgba(255,255,255,0.5);"><%= @chat.title %></td>
            </tr>
           <tr>
             <td class="text-white" style="background-color:rgba(130,0,0,0.8);">ユーザー名</td>
             <td style="background-color:rgba(255,255,255,0.5);"><%= link_to @chat.user.name, user_path(@chat.user_id) %></td>
           </tr>
           <tr>
             <td class="text-white" style="background-color:rgba(130,0,0,0.8);">投稿日時</td>
             <td style="background-color:rgba(255,255,255,0.5);"><%= @chat.created_at.to_s(:datetime_jp) %></td>
           </tr>
           <tr>
             <td class="text-white" style="background-color:rgba(130,0,0,0.8);">更新日時</td>
             <td style="background-color:rgba(255,255,255,0.5);"><%= @chat.updated_at.to_s(:datetime_jp) %></td>
           </tr>
          </tbody>
         </table>
        </div>
  </div>
  <%= render "public/messages/form", { chat: @chat, chat_message: @chat_message } %>
  <%= render "public/messages/index", { chat: @chat } %>
</div>

