            <% if posts.count == 0 %>
            <div class="row">
              <h3>投稿はありません。</h3>
            </div>
            <% end %>
            <% unless posts.count == 0 %>
            <table class='table table-hover mt-3'>
              <thead style="background-color: #444">
                <tr class="text-light">
                  <th width="200">タイトル</th>
                  <th width="150">住所・施設名</th>
                  <th width="100">タグ</th>
                  <th width="100">所在地</th>
                  <th width="100"></th>
                  <th width="150"></th>
                </tr>
              </thead>
              <tbody style="background-color: rgba(255,255,255,0.5)">
                <% posts.each do |post| %>
                  <tr>
                    <td><%= link_to post.name, admin_post_path(post) %></td>
                    <td><%= link_to post.place, admin_post_path(post) %></td>
                    <td>
                      <% post.tags.each do |tag| %>
                        <%= tag.tag_name %><%="(#{tag.posts.count})" %><br>
                      <% end %>
                    </td>
                    <td><%= link_to post.get_category_name, post_path(post) %></td>
                    <td><%= link_to "詳細", admin_post_path(post), class: "btn btn-success" %></td>
                    <td>
                      <% if post.is_active == true %>
                        公開停止中
                      <% else %>
                        公開中
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% end %>