<div class="container">
    <div class="row mt-3">
      <div class="col-12">
        <h2 class="">投稿一覧</h2>
            <table class='table table-hover mt-3'>
              <thead style="background-color: #444">
                <tr class="text-light">
                  <th width="200">タイトル</th>
                  <th width="150">住所・施設名</th>
                  <th width="150">タグ</th>
                  <th width="100">所在地</th>
                  <th width="150">ユーザー名</th>
                  <th width="150">コメント数</th>
                  <th width="100"></th>
                  <th width="130">ステータス</th>
                </tr>
              </thead>
              <tbody style="background-color: rgba(255,255,255,0.5)">
                <% @posts.each do |post| %>
                  <tr>
                    <td><%= post.name %></td>
                    <td><%= post.place %></td>
                    <td>
                      <% post.tags.each do |tag| %>
                        <%= tag.tag_name %><%="(#{tag.posts.count})" %><br>
                      <% end %>
                    </td>
                    <td><%= post.get_category_name %></td>
                    <td><%= link_to post.user.name, admin_user_path(post.user.id) %></td>
                    <td><%= post.comments.count %></td>
                    <td><%= link_to "詳細", admin_post_path(post), "data-turbolinks": false, class: "btn btn-secondary" %></td>
                    <td>
                      <% if post.is_active %>
                      非公開
                      <% elsif %>
                      公開
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
    </div>
</div>

