<div class="container p-2 post-flame">
 <div class="row p-4">
  <div class="col-md-6">
   <div class="" style="display: flex">
     <% if @post.is_active == true %>
      （公開停止中）
     <% end %>
    <div class="">
      <%= link_to "編集", edit_admin_post_path(@post), "data-turbolinks": false, class: "btn btn-success" %>
       <%= link_to "削除", post_path(@post), "data-turbolinks": false, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger ml-2"%>
    </div>
   </div>
    <div class="mt-3">
     <% if @post.post_image.attached? %>
      <%= image_tag(@post.post_image.first, class: "centerpost ex-img", id: "main-img") %>
     <% end %>
     <% unless @post.post_image.attached? %>
      <%= image_tag "no_image.jpg" %>
     <% end %>
    </div>
    <div class="mt-3 mb-3">
     <% if @post.post_image.attached? %>
     <div class="img-child" style="">
      <div id="img" style="">
       <% @post.post_image.each_with_index do |image, i| %>
        <%= image_tag(image, class: "img post-images", id: "img0#{i+1}" ) %>
       <% end %>
      </div>
     </div>
     <% end %> 
    </div>
   </div>
   <div class="col-md-6">
    <h4 style="">
     <div class="left-contents" style="font-size: 30px"><%= @post.name %></div>
     <div class="left-contents" style=""><%= @post.get_category_name %></div>
     <div class="left-contents" style=""><%= @post.place %></div>
    </h4>
     <div class="text-white" style="background-color: #444;">説明</div>
     <div style="background-color:rgba(255,255,255,0.5);">
      <% if @post.explanation.empty? %>
       なし
      <% else %>
       <%= @post.explanation %>
      <% end %>
     </div>
     <div class="mt-3">
      <div class="text-white" style="background-color: #444;">タグ</div>
       <div style="background-color:rgba(255,255,255,0.5);">
        <% if @post_tags.count == 0 %>
         <div>なし</div>
        <% else %>
         <% @post_tags.each do |tag| %>
          <div><%= tag.tag_name %><%="(#{tag.posts.where(is_active: false, draft_status: false).count})" %></div>
         <% end %>
        <% end %>
       </div>
      </div>
       <div class="mt-3">
        <div style="background-color:rgba(255,255,255,0.5);">
         投稿者:<%= link_to @post.user.name, admin_user_path(@post.user_id) %>
        </div>
         <div style="background-color:rgba(255,255,255,0.5);">投稿日時:<%= @post.created_at.to_s(:datetime_jp) %></div>
         <div style="background-color:rgba(255,255,255,0.5);">更新日時:<%= @post.updated_at.to_s(:datetime_jp) %></div>
        </div>
    </div>
  </div>
   <%= render "admin/comments/form", { post: @post, post_comment: @post_comment } %>
   <%= render "admin/comments/index", { post: @post, post_comments: @post_comments } %>
</div>