<div class="container p-3">
  <div class="row">
    <div class="col-md-6 mt-1 mx-auto">
      
      <div class="p-2" style="background-color: #444;">
        <h5 class="text-light" style="">パスワードをお忘れですか？</h3>
      </div>
      
      <div class="p-2" style="background-color: #FFF;">
        <p class="text-center">登録したメールアドレス宛にパスワード再発行ページをお送りいたします。</p>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", autocorrect: "off", autocapitalize: "off", size: " 50 x 30 " %>
      </div>

      <div class="actions mt-3 mb-3">
        <%= f.submit "送信する", placeholder: "パスワード", class: 'btn btn-block btn-secondary p-2' %>
      </div>
      <% end %>
      
      </div>
    </div>
  </div>
</div>
    
