<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-5'>
      <h2>ユーザー詳細</h2>
        <table class='table'>
          <tr><%= image_tag @user.get_user_image, size:'100x100' %></tr>
          <tr>
	          <th>ID</th>
	          <th><%= @user.id %></th>
          </tr>
          <tr>
	          <th>ユーザー名</th>
	          <th><%= @user.name %></th>
          </tr>
          <tr>
	          <th>メールアドレス</th>
	          <th><%= @user.email %></th>
          </tr>
          <tr>
	          <th>プロフィール</th>
	          <th><%= @user.explanation %></th>
          </tr>
           <tr>
	          <th>登録日時</th>
	          <th><%= @user.created_at.to_s(:datetime_jp) %></th>
          </tr>
          <tr>
	          <th>更新日時</th>
	          <th><%= @user.updated_at.to_s(:datetime_jp) %></th>
          </tr>
           <tr>
	          <th>ステータス</th>
	          <th>
	            <% if @user.is_deleted %>
	              退会済
              <% else %>
                有効
              <% end %>
	          </th>
	         </tr>
	       </table>
	            <%= form_with model: @user, url:admin_user_path(@user),  local: true do |form| %>
	            <div class="form-group row">
                <div class="col-5" style="padding-right:20px;">
                  <%= form.radio_button :is_deleted, false, checked: true, class: 'offset-1' %>
                  <%= form.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
                </div>
                <div class="col-6" style="padding-right:20px;">
                  <%= form.radio_button :is_deleted, true, class: 'offset-1' %>
                  <%= form.label :is_deleted, "退会済", {value: :true, style: "display: inline-block;"} %>
                </div>
              </div>
              <div class="form-group row">
                <%= form.submit :変更, class: 'btn btn-success' %>
              </div>
              <% end %>
    </div>
    
    <div class='col-md-7'>
      <h2>投稿一覧</h2>
      <%= render 'admin/posts/index', posts: @posts %>
    </div>
</div>
