
 <div class="search_box">
  <%= form_with(url: search_path, local: true, method: :get) do |f| %>
  <div class="mt-1 search_from">
   <% if request.path == "/users" %>
    <%= f.select :range, options_for_select([["ユーザー検索"],["投稿検索"],["チャット検索"]]), {}, class: "search_select" %>
    <% elsif request.path == "/chats" %>
    <%= f.select :range, options_for_select([["チャット検索"],["ユーザー検索"],["投稿検索"]]), {}, class: "search_select" %>
   <% else %>
    <%= f.select :range, options_for_select([["投稿検索"], ["ユーザー検索"],["チャット検索"]]), {}, class: "search_select" %>
   <% end %>
  </div>
  <div class="mt-1 search_from">
    <%= f.text_field :word , class: "search_word", placeholder: "タイトル（ユーザー名）" %>
  </div> 
  <div class="mt-1 search_from">
    <%= f.collection_select :prefectures, Category.all, :id, :name, { include_blank: "所在地" }, class: "search_collection_select" %>
    <%= f.collection_select :tag_id, Tag.all, :id, :tag_name, { include_blank: "タグ" }, class: "search_collection_select" %>
    <%= f.button type: "submit", class: "btn btn-secondary search_btn" do %>
     <i class="fas fa-search"></i>
    <% end %>
  <% end %>
 </div>
</div>