<div class="col-12 text-right mb-2 mt-4 mr-2">
 <%= search_form_for search, url: posts_path do |form| %>
 <%= form.select :range, options_for_select({タイトル: 1, 場所: 2, タグ: 3, カテゴリー: 4, ユーザー名: 5}, 1), include_blank: true %>
 <%= form.text_field :name_cont, placeholder: "入力", class: "mr-3" %>
 <%= form.select :category %>
 <%= form.submit ("検索"), class: "btn btn-secondary btn-sm" %>
 <% end %>
 </div>